article{
    display: flex;
    flex-direction: column;

    width: 100%;
    border-radius: 4px;
}

article img{
    width: 100%;
    height: 260px;
    display: block;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
}

section{
    background: var(--c-primary-color);
    padding: 8px 10px;
    border-radius:4px;
}

.line{
    margin: 2px 0;
}

/* DETAILS ABOUT THE SONG */
.details-about-song{
    display: flex;
    align-items: center;
    padding: 10px 4px;
    gap: 6px;
    background-color: var(--c-secondary-color);
    border-radius: 4px;
}

.details-about-song div{
    display: flex;
    flex-direction: column;
}

.details-about-song div a{
    font-size: 1.8em;
    color: black;
    font-family: var(--f-title);
    text-decoration: none;
}

.details-about-song div a:hover{
    transform: scale(1.1);
    margin-left: 6px;
}

.details-about-song div span{
    font-size: 1.4em;
}

/* ABOUT THE ALBUM */
.details-about-album{
    padding: 6px 10px;
}

.details-about-album h3{
    font-size: 1.4em;
    letter-spacing: 2px;
}

.details-about-album span{
    font-size: 1.2em;
}

.material-symbols-outlined{
    color: var(--c-red)
}

.material-symbols-outlined.fill {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
