<section>
    <div class="line details-about-song">
        <span class="material-symbols-outlined fill" *ngIf="data.favoritar; else isNotFavorite">favorite</span>
        <ng-template #isNotFavorite>
            <span class="material-symbols-outlined" *ngIf="!data.favoritar">favorite</span>
        </ng-template>

        <div>
            <a target="_blank" [attr.href]="data.url">{{data.nome}}</a>
            <span>{{data.artista}}</span>
        </div>
    </div>

    <div class="line details-about-album">
        <h3>{{data.album}}</h3>
        <span>{{data.anoLancamento}}</span>
    </div>
</section>
