article{
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    width: 100%;

    border-radius: 4px;
}

article img{
    width: 100%;
    height: 40%;
    display: block;
    object-fit: cover;
}

section{
    background-color: gainsboro;
    padding: 8px 4px;
    border-radius: 4px;
}

.line{
    margin: 4px 0;
}

/* DETAILS ABOUT THE SONG */
.details-about-song{
    display: flex;
    align-items: center;
    padding: 10px 4px;
    gap: 4px;
    background-color: var(--c-orange);
    border-radius: 4px;
}

.details-about-song div h1{
    font-size: 1.8em;
}

.details-about-song div span{
    font-size: 1.2em;
}

/* ABOUT THE ALBUM */
.details-about-album{
    padding: 6px 10px;
}

.details-about-album h3{
    font-size: 1.4em;
}

.details-about-album span{
    font-size: 1em;
}

.material-symbols-outlined.fill {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
