:host{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 40px;
}

main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    gap: 10px;
    width: 90%;
}
