:host{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    padding: 20px;
    background-color: var(--c-primary-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 90%;
    height: auto;
    width: 90%;
    
    border-radius: 4px;
    border: solid black 4px;
}

form .line-form{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

form .line-form label{
    width: 48%;
}

form legend{
    font-size: 2em;
    font-weight: 600;
    font-family: var(--f-title);
}

form label{
    margin: 6px 0;
    font-weight: 600;
    font-size: 1.6em;
}

form input {
    margin: 4px 0;
}

form input[type="radio"]{
    cursor: pointer;
}

form input[type="text"], input[type="number"]{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
}

form button{
    padding: 10px;
    margin-top: 10px;
    background-color: var(--c-secondary-color);
    cursor: pointer;
    font-size: 1.6em;
    font-family: var(--f-title);
}

form .message-error{
    font-size: .8em;
    background-color: var(--c-red);
    padding: 2px 6px;
    border-radius: 4px;
    color: white;
}

form .input-type-checkbox{
    display: flex;
    align-items: center;
}

form .input-type-checkbox input{
    margin: 0px;
    margin-left: 10px;
}